#black {
  background-color: black;
}

#rosa {
  background-color: rgb(220, 65, 168);
}

#amarelo {
  background-color: yellow;
}

#verde {
  background-color: rgb(28, 176, 28);
}

.color {
  height: 40px;
  width: 40px;
  border: 1px solid;
  display: inline-block;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid;
  display: inline-block;
}

#pixel-board {
  width: 240px;
}
